# Dealing with unclean data

We're going to look at data that may require some cleansing.

In [ ]:
import numpy as np
import pandas as pd

## Read the admissions data that is not so clean

In [ ]:
data_location  = 'https://elephantscale-public.s3.amazonaws.com/data/college-admissions/admission-data-dirty.csv'

admissions = pd.read_csv(data_location)
print("admissions size : ", admissions.size)
admissions

## Get Summary
See what we get.  It will skip null values

In [ ]:
## TODO : use 'describe' functions 
admissions.describe()

In [ ]:
## TODO : make describe include all columns
admissions.describe(include = 'all')

In [ ]:
## TODO : Describe more than one column : gre and gpa
## Hint : add 'gpa' column
admissions[['gre', 'gpa']].describe()

## Drop all null values

In [ ]:
print("raw data size : ", admissions.size)

## TODO : use 'dropna' function
dropped_na = admissions.dropna()
print()
print("after drop size : ", dropped_na.size)
dropped_na

In [ ]:
# only drop nulls from admit & gre column
print("raw data size : ", admissions.size)

print()

dropped2 = admissions.dropna(subset=['admit', 'gre'])
print("after drop size : ", dropped2.size)
dropped2

## Fill in the values

In [ ]:
## TODO :  fill every thing with zero
## Hint : use 'fillna'
zero_fill = admissions.fillna(0)
zero_fill

In [ ]:
# or we can specify per column default value
## TODO : specify different default values per column
##        default value for gre = -100
fill2 = admissions.fillna({'admit': -1, 'gre': -100, 'gpa':-1, 'rank':10})
fill2

## Replace values

In [ ]:
print (admissions)

admissions2 = admissions.copy(deep=True)

## TODO : use replace to change 800 to 1000
## Hint : replace (800, 1000)
admissions2['gre'].replace(800, 1000, inplace=True)

print()
print (admissions2)

## Clean out RANK column

In [ ]:
## TODO : filter out any thing other than 1,2,3,4  in rank column
a = admissions[admissions['rank'].isin(['1','2','3','4'])]
a